@model List<UnemploymentStat>
@using Newtonsoft.Json;

@{
    int index = 0;
    List<string> CountyList = new List<string>();
    
    @foreach(UnemploymentStat i in @Model)
    {
        if(!CountyList.Contains(@i.County)){
            CountyList.Add(@i.County);
        }
        index += 1;
    }
    
    string value = "";
    @foreach(string i in CountyList)
    {
        value = value + "" + i + "|";
        @foreach(UnemploymentStat j in @Model)
        {
            if(@j.County == i)
            {
                value = value + (j.UnemploymentRate).ToString() + ", ";                
            }
        }
        value = value + "|";
    }
    
    string val = JsonConvert.SerializeObject(value);    
}
<partial name="_NavBar"/>
<div class="container">
<button style="display: none;" onclick="DisplayGraph(@val)">Display Graph</button>

<div id="container"></div>

@section scripts{
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $("button").click();
            },10);            
        });
    </script>
}
</div>
