@model List<UnemploymentStat>
@using Newtonsoft.Json;

<div id="map" style="width: 800px; height: 500px;"></div>
<div id="clicked-state"></div>

@section scripts{
<script>
    $(document).ready(function() {
        $('#map').usmap({});
    });

    $('#map').usmap({
        click: function(event, data) {
            console.log(data);
            window.location = "http://localhost:5000/CountyPerState/1";
                 
        }
    });
</script>
}