@model List<UnemploymentStat>
@using Newtonsoft.Json;

<!-- <div class="form-group">
<select  class="form-control" onchange="getMap(this.value)">
    <option>View Nationwide Unemployment by Year</option>
    <option>2018</option>
    <option>2017</option>
    <option>2016</option>
    <option>2015</option>
    <option>2014</option>
    <option>2013</option>
    <option>2012</option>
    <option>2011</option>
    <option>2010</option>
    <option>2009</option>
</select>
</div> -->
<partial name="_NavBar"/>
<div class="container">
    <div id="map" style="width: 1100px; height: 900px;"></div>
    <div id="clicked-state"></div>

    @section scripts{
    <script>
        $(document).ready(function() {
            $('#map').usmap({showLabels: true});
        });

        $('#map').usmap({
            click: function(event, data) {
                window.location = "http://localhost:5000/CountyPerState/"+data.name;
            }
        });

        function getMap(year){        
            window.location = "http://localhost:5000/map/"+year;
        }
    </script>
    }
</div>