@model List<UnemploymentStat>
@using Newtonsoft.Json;

@{
    int index = 0;
    List<string> CountyList = new List<string>();
    
    @foreach(UnemploymentStat i in @Model)
    {
        if(!CountyList.Contains(@i.State)){
            CountyList.Add(@i.State);
        }
        index += 1;
    }
    
    string value = "";
    @foreach(string i in CountyList)
    {
        value = value + "" + i + "|";
        double sum = 0.0, average = 0.0;
        int counter = 0;
        @foreach(UnemploymentStat j in @Model)
        {
            if(@j.State == i)
            {
                sum = sum + j.UnemploymentRate;
                counter++;                
            }
        }
        average = sum/counter;
        value = value + "" + average +  "|";
    }
    
    string val = JsonConvert.SerializeObject(value);
}

<!-- <div class="form-group">
            <select  class="form-control" onchange="getMap(this.value)">
                <option>View Nationwide Unemployment by Year</option>
                <option>2018</option>
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
                <option>2013</option>
                <option>2012</option>
                <option>2011</option>
                <option>2010</option>
                <option>2009</option>
            </select>
          </div> -->
<partial name="_NavBar"/>
<div class="container">
<button style="display: none;" onclick="DisplayMap(@val)">Display Graph</button>

<div id="container"></div>

@section scripts{
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $("button").click();
            },10);            
        });
        
        function getMap(year){        
            window.location = "http://localhost:5000/map/"+year;
        }
    </script>
}
</div>